/* add css here */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Jost";
  }

  body{
      position: relative;
      background-color: #f2f2f2;
  }

  .wrapper{
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      max-width: 475px;
      margin-top: 32px;
      padding: 24px;
      border-radius: 16px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);

  }

  h1{
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2rem;
  }
  form{
      text-align: right;
  }

  input:focus{
      box-shadow: 0px 0px 6px #0099cc;
      outline: none;
  }
  input[type=text], input[type=tel], input[type=password], input[type=email]{
      border: 1px solid lightgray;
      border-radius: 4px;
      width: 60%;
      height: 2rem;
      margin: 4px;
  }
  button{
    border-radius: 6px;
    padding: 13px;
    width: 140px;
    color: white;
    font-weight: bold;
    margin-top: 10px;

  }
  button[type=reset]{
      background-color: hsl(333deg, 100%, 44%);
  }
  button[type=submit]{
    background-color: hsl(256deg, 100%, 44%);
}
  .terms{
      
      background-color:#f2f2f2;
      border-radius: 6px;
      padding: 12px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;
  }
footer{
    display: flex;
    justify-content: space-between;
}

.error-box{
    background-color: pink;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 30px;
    padding: 12px 30px;
    font-weight: bold;
    display: none;
}